/*CSS PATCHED*/

body {
	font-family: Georgia;
}


h1 {
	color: green;
}


h2 {
	color: green;
}


h3 {
	color: green;
}


h4 {
	color: green;
}


h5 {
	color: green;
}


h6 {
	color: green;
}


.hint {
	color: #aaaaaa;
}


a {
	color: black;
}



